.about-div {
	margin-left: 18.7rem;
	padding: 5rem;
}
.about-title-text {
	font-weight: 600;
	font-size: 1.2rem;
}
.profile-image-div {
	display: flex;
	padding: 2rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-color: black;
}
.profile-image-border {
	border-style: dashed;
	border-width: 2px;
	width: 50rem;
	display: flex;
	padding: 2rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.add-file-btn {
	background-color: #1683af;
	color: white;
	width: 6rem;
	border-radius: 0.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

.input-about {
	height: 3rem;
	width: 100%;
	padding-left: 10px;
	margin-block: 0.8rem;
	box-sizing: border-box;
	border: 1px solid;
	box-shadow: 0 0 2px #d8dae2;
	border-color: #d8dae2;
	border-radius: 0.4rem;
}

.save-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}
.save-detail-btn {
	background-color: #1683af;
	color: white;
	width: 15rem;
	border-radius: 0.5rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.file-upload {
	visibility: hidden;
	position: absolute;
	height: 0;
}
